doctype html
html
    head 
        title Open Climate 
    body
        table
            each contact in data
                tr
                    th ____Contact____
                tr
                    td zip code: #{contact['zipCode']}
                tr
                    td city: #{contact['city']}
                tr 
                    td county: #{contact['county']}
                tr 
                    td countyFIPS: #{contact['countyFIPS']}
                tr 
                    td stateAcronym: : #{contact['countyFIPS']}
                tr
                    td stateFIPS: : #{contact['stateFIPS']}
                tr  
                    td state: #{contact['state']}
                tr
                    td repName: #{contact['repName']}
                tr 
                    td congressionalDistrict: #{contact['congressionalDistrict']}
                tr
                    td repYearElected: #{contact['repYearElected']}
                tr
                    td repNextElection: #{contact['repNextElection']}
                tr
                    td repEmailAddress: #{contact['repEmailAddress']}
                tr 
                    td repOnlineMessgae: #{contact['repOnlineMessgae']}
                tr
                    td repParty: #{contact['repParty']}
                tr
                    td repCommitteeAssignment: #{contact['repCommitteeAssignment']}
                tr 
                    td repAddress: #{contact['repAddress']}
                tr 
                    td repOfficeRoom: #{contact['repOfficeRoom']}
                tr 
                    td repTwitter: #{contact['repTwitter']}
                tr 
                    td repPhone: #{contact['repPhone']}
                tr
                    td senator1Name: #{contact['senator1Name']}
                tr
                    td senator1YearElected: #{contact['senator1YearElected']}
                tr 
                    td senator1NextElection: #{contact['senator1NextElection']}
                tr 
                    td senator1EmailAddress: #{contact['senator1EmailAddress']}
                tr 
                    td senator1OnlineMessgae: #{contact['senator1OnlineMessgae']}
                tr 
                    td senator1Party: #{contact['senator1Party']}
                tr 
                    td senator1CommitteeAssignment: #{contact['senator1CommitteeAssignment']}
                tr
                    td senator1Address: #{contact['senator1Address']}
                tr
                    td senator1Twitter: #{contact['senator1Twitter']}
                tr
                    td senator1Phone: #{contact['senator1Phone']}
                tr 
                    td senator2Name: #{contact['senator2Name']}
                tr
                    td senator2YearElected: #{contact['senator2YearElected']}
                tr 
                    td senator2NextElection: #{contact['senator2NextElection']}
                tr 
                    td senator2EmailAddress: #{contact['senator2EmailAddress']}
                tr 
                    td senator2OnlineMessgae: #{contact['senator2OnlineMessgae']}
                tr 
                    td senator2Party: #{contact['senator2Party']}
                tr 
                    td senator2CommitteeAssignment: #{contact['senator2CommitteeAssignment']}
                tr
                    td senator2Address: #{contact['senator2Address']}
                tr
                    td senator2Twitter: #{contact['senator2Twitter']}
                tr
                    td senator2Phone: #{contact['senator2Phone']}
                tr
                    td governorName: #{contact['governorName']}
                tr
                    td governorYearElected: #{contact['governorYearElected']}
                tr 
                    td governorNextElection: #{contact['governorNextElection']}
                tr 
                    td governorEmailAddress: #{contact['governorEmailAddress']}
                tr 
                    td governorOnlineMessgae: #{contact['governorOnlineMessgae']}
                tr
                    td governorParty: #{contact['governorParty']}
                tr 
                    td governorAddress: #{contact['governorAddress']}
                tr 
                    td governorTwitter: #{contact['governorTwitter']}
                tr
                    td governorPhone: #{contact['governorPhone']}
                tr

